# SPDX-FileCopyrightText: Copyright 2025-2026 The Secureblue Authors
#
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Migration service to new Homebrew setup with brew-proxy
Wants=multi-user.target
After=multi-user.target
ConditionPathExists=!/var/lib/secureblue/secureblue-brew-proxy-migration.stamp

[Service]
Type=oneshot
ExecStart=/usr/libexec/secureblue/brew-proxy-migration
ExecStartPost=touch /var/lib/secureblue/secureblue-brew-proxy-migration.stamp

[Install]
WantedBy=multi-user.target
