[Unit]
Description=Secureblue Firstrun
After=brew-setup.service
Requires=brew-setup.service
ConditionPathExists=!/home/linuxbrew/secureblue-firstrun.stamp

[Service]
Type=oneshot
ExecStart=/usr/libexec/secureblue/securebluefirstrun
ExecStartPost=/usr/bin/touch /home/linuxbrew/secureblue-firstrun.stamp
User=1000

[Install]
WantedBy=multi-user.target
