# SPDX-FileCopyrightText: Copyright 2025-2026 The Secureblue Authors
#
# SPDX-License-Identifier: Apache-2.0

# Sometimes /var/lib/unbound/root.key goes missing on CoreOS systems.
# In that case, unbound-checkconf fails in anticipation of unbound-anchor
# being unable to bootstrap. This service installs root.key if missing so that
# dnsconfd-unbound can still work.

[Unit]
Description=Secureblue Unbound Root Key Installation Service
ConditionPathExists=!/var/lib/unbound/root.key
After=local-fs.target
Before=unbound.service unbound-anchor.service
RequiresMountsFor=/var/lib
RequiresMountsFor=/usr/etc

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p /var/lib/unbound
ExecStart=/usr/bin/cp /usr/etc/unbound/dnssec-root.key /var/lib/unbound/root.key
ExecStartPost=/usr/bin/chown -R unbound:unbound /var/lib/unbound
ExecStartPost=/usr/bin/chmod 0644 /var/lib/unbound/root.key
ExecStartPost=/usr/bin/restorecon -R /var/lib/unbound

[Install]
WantedBy=unbound.service
WantedBy=unbound-anchor.service
