[Unit]
Description=Secureblue Cleanup
After=local-fs.target network-online.target
Requires=local-fs.target network-online.target
ConditionPathExists=!/var/lib/secureblue-cleanup.stamp

[Service]
Type=oneshot
ExecStart=/usr/libexec/secureblue/securebluecleanup
ExecStartPost=/usr/bin/touch /var/lib/secureblue-cleanup.stamp
RestartSec=1s
RestartMaxDelaySec=30s
RestartSteps=5

[Install]
WantedBy=multi-user.target
