[Unit]
Description=Secureblue Cleanup
After=local-fs.target network-online.target
Requires=local-fs.target network-online.target
ConditionPathExists=!/var/lib/secureblue-cleanup.stamp

[Service]
Type=oneshot
ExecStart=/usr/libexec/secureblue/securebluecleanup
ExecStartPost=/usr/bin/touch /var/lib/secureblue-cleanup.stamp
RestartSec=30s
Restart=on-failure
RestartMaxDelaySec=1800s
RestartSteps=10

[Install]
WantedBy=multi-user.target
