[Unit]
Description=Unbound DNS server loopback IP socket

[Socket]
ListenStream=127.0.0.1:53
ListenStream=[::1]:53
ListenDatagram=127.0.0.1:53
ListenDatagram=[::1]:53
ReusePort=yes

[Install]
WantedBy=sockets.target
