policy_module(trivalent, 1.0.0)

# SPDX-FileCopyrightText: Copyright 2025-2026 The Secureblue Authors
#
# SPDX-License-Identifier: Apache-2.0 OR MIT

########################################
#
# Declarations
#

## <desc>
## <p>
## Allow chromium to read/write/map v4l devices
## </p>
## <p>
## Needed for camera access
## </p>
## </desc>
gen_tunable(trivalent_rwmap_video_dev, true)

attribute_role trivalent_roles;

attribute trivalent_domain;
attribute trivalent_script_domain;

type trivalent_exec_t;
application_executable_file(trivalent_exec_t)

type trivalent_home_t;
userdom_user_home_content(trivalent_home_t)

type trivalent_script_exec_t;
application_executable_file(trivalent_script_exec_t)


##############################
#
# Local policy
#

gen_require(`
	attribute userdomain;
	class dbus acquire_svc;
	type audio_home_t;
	type chrome_sandbox_home_t;
	type device_t;
	type dosfs_t;
	type fonts_cache_t;
	type http_port_t;
	type http_cache_port_t;
	type howl_port_t;
	type ld_so_cache_t;
	type null_device_t;
	type root_t;
	type pki_ca_port_t;
	type nsfs_t;
	type tmp_t;
	type tmpfs_t;
	type user_home_t;
	type xserver_misc_device_t;
')

trivalent_filetrans_home_content(userdomain)
trivalent_filetrans_home_content(trivalent_domain)
trivalent_filetrans_home_content(trivalent_script_domain)

# internal
allow trivalent_domain self:process { dyntransition transition execmem getcap getsched ptrace setcap setrlimit setsched sigkill signal signull };
allow trivalent_domain self:dir { manage_dir_perms };
allow trivalent_domain self:file { manage_file_perms execute map };
allow trivalent_domain self:lnk_file { manage_lnk_file_perms };
allow trivalent_domain self:fifo_file rw_fifo_file_perms;
allow trivalent_domain self:sem create_sem_perms;
allow trivalent_domain self:netlink_kobject_uevent_socket client_stream_socket_perms;
allow trivalent_domain self:user_namespace create;
allow trivalent_domain self:unix_stream_socket { connectto rw_socket_perms };
allow trivalent_domain self:cap_userns { sys_admin sys_chroot sys_ptrace net_admin setpcap };
allow trivalent_domain self:capability { dac_read_search sys_admin sys_chroot sys_ptrace };
allow trivalent_domain self:fifo_file { manage_fifo_file_perms relabelfrom relabelto };
allow trivalent_domain self:dir rw_dir_perms;
allow trivalent_domain self:socket_class_set create_socket_perms;
allow trivalent_domain self:tcp_socket { accept listen };
allow trivalent_domain trivalent_exec_t:file execute_no_trans;
allow trivalent_domain chrome_sandbox_home_t:dir { manage_dir_perms };
allow trivalent_domain chrome_sandbox_home_t:file { manage_file_perms execute map };
allow trivalent_domain chrome_sandbox_home_t:lnk_file { manage_lnk_file_perms };
allow trivalent_domain trivalent_home_t:dir { manage_dir_perms };
allow trivalent_domain trivalent_home_t:file { manage_file_perms execute map };
allow trivalent_domain trivalent_home_t:lnk_file { manage_lnk_file_perms };
allow trivalent_domain self:netlink_route_socket { nlmsg_read nlmsg_write };

# not covered by interfaces
allow trivalent_domain fonts_cache_t:dir mounton;
allow trivalent_domain howl_port_t:udp_socket name_bind;
allow trivalent_domain http_port_t:tcp_socket { name_connect };
allow trivalent_domain http_cache_port_t:tcp_socket { name_connect };
allow trivalent_domain pki_ca_port_t:tcp_socket name_connect;
allow trivalent_domain root_t:dir mounton;
allow trivalent_domain tmp_t:lnk_file { create unlink };
allow trivalent_domain tmp_t:sock_file { create unlink };
allow trivalent_domain tmp_t:dir mounton;
allow trivalent_domain tmpfs_t:file mounton;
allow trivalent_domain tmpfs_t:dir { create };

# required for trivalent to be able to detect whether it's the default browser
allow trivalent_domain trivalent_script_exec_t:file { execute getattr read execute_no_trans ioctl open };

# homedir access
allow trivalent_domain user_home_t:dir { manage_dir_perms };
allow trivalent_domain user_home_t:file { manage_file_perms };
allow trivalent_domain user_home_t:lnk_file { manage_lnk_file_perms };
allow trivalent_domain audio_home_t:dir { manage_dir_perms };
allow trivalent_domain audio_home_t:file { manage_file_perms };
allow trivalent_domain audio_home_t:lnk_file { manage_lnk_file_perms };

optional_policy(`
	gen_require(`
		attribute file_manager_type;
	')

	# required for trivalent/FM clipboard sharing
	allow trivalent_domain file_manager_type:fifo_file write;
')

# allow trivalent to interface with flatpaks (necessary for keepassxc extension, for example)
# uncomment this once new flatpak policy is in use
# optional_policy(`
# 	flatpak_read_apps(trivalent_domain)
# 	flatpak_exec_apps(trivalent_domain)
# ')
allow trivalent_domain data_home_t:file { execute execute_no_trans };

# allow trivalent to own its mpris daemon
dbus_connect_session_bus(trivalent_domain)

# xwayland/nvidia
xserver_exec(trivalent_domain)
dev_rw_xserver_misc(trivalent_domain)
dev_map_xserver_misc(trivalent_domain)
allow trivalent_domain xserver_misc_device_t:chr_file { getattr ioctl map open read write };
xserver_stream_connect_xdm(trivalent_domain)
xserver_stream_connect(trivalent_domain)

files_list_home(trivalent_domain)
files_search_home(trivalent_domain)
files_read_usr_files(trivalent_domain)
files_read_etc_files(trivalent_domain)
files_read_etc_runtime_files(trivalent_domain)
files_watch_etc_dirs(trivalent_domain)
files_getattr_all_dirs(trivalent_domain)
files_watch_root_dirs(trivalent_domain)
files_read_var_lib_files(trivalent_domain)
files_rw_generic_tmp_dir(trivalent_domain)
files_manage_generic_tmp_files(trivalent_domain)
files_manage_generic_tmp_dirs(trivalent_domain)
files_rw_generic_tmp_sockets(trivalent_domain)
files_rw_tmp_file_leaks(trivalent_domain)
files_map_generic_tmp_files(trivalent_domain)

# memory pressure
kernel_read_psi(trivalent_domain)
kernel_read_kernel_sysctls(trivalent_domain)
kernel_read_fs_sysctls(trivalent_domain)

# required to connect to wayland
dbus_system_bus_client(trivalent_domain)
dbus_session_bus_client(trivalent_domain)

dbus_write_session_tmp_sock_files(trivalent_domain)
devicekit_dbus_chat_disk(trivalent_domain)
devicekit_dbus_chat_power(trivalent_domain)
systemd_dbus_chat_hostnamed(trivalent_domain)

fs_rw_inherited_tmpfs_files(trivalent_domain)
fs_getattr_xattr_fs(trivalent_domain)
fs_getattr_tmpfs(trivalent_domain)
fs_manage_tmpfs_files(trivalent_domain)
fs_map_tmpfs_files(trivalent_domain)
fs_search_cgroup_dirs(trivalent_domain)
fs_associate_proc(trivalent_domain)
fs_unmount_tmpfs(trivalent_domain)
fs_mount_tmpfs(trivalent_domain)
fs_manage_tmpfs_symlinks(trivalent_domain)
fs_all_mount_fs_perms_xattr_fs(trivalent_domain)
fs_mounton_tmpfs(trivalent_domain)

miscfiles_read_all_certs(trivalent_domain)
miscfiles_map_generic_certs(trivalent_domain)
miscfiles_read_localization(trivalent_domain)
miscfiles_watch_localization_dirs(trivalent_domain)
miscfiles_read_hwdata(trivalent_domain)

alsa_read_rw_config(trivalent_domain)
pulseaudio_stream_connect(trivalent_domain)
pulseaudio_read_home_files(trivalent_domain)
cups_read_config(trivalent_domain)
cups_stream_connect(trivalent_domain)

dev_read_sysfs(trivalent_domain)
dev_rw_dma_dev(trivalent_domain)
dev_rw_dri(trivalent_domain)
dev_rw_generic_usb_dev(trivalent_domain)
dev_read_sound(trivalent_domain)
dev_write_sound(trivalent_domain)
dev_read_urand(trivalent_domain)
dev_read_rand(trivalent_domain)

tunable_policy(`trivalent_rwmap_video_dev', `
	dev_read_video_dev(trivalent_domain)
	dev_write_video_dev(trivalent_domain)
	dev_map_video_dev(trivalent_domain)
')

udev_read_pid_files(trivalent_domain)
term_mount_pty_fs(trivalent_domain)

gnome_search_gconf_data_dir(trivalent_domain)
gnome_manage_cache_home_dir(trivalent_domain)
gnome_manage_generic_cache_files(trivalent_domain)
gnome_manage_generic_cache_sockets(trivalent_domain)
gnome_map_generic_cache_files(trivalent_domain)
gnome_manage_home_config(trivalent_domain)
gnome_exec_config_home_files(trivalent_domain)
gnome_manage_home_config_dirs(trivalent_domain)
gnome_manage_data(trivalent_domain)
gnome_manage_generic_home_files(trivalent_domain)
gnome_manage_generic_home_dirs(trivalent_domain)
gnome_map_generic_data_home_files(trivalent_domain)
gnome_manage_gstreamer_home_files(trivalent_domain)
gnome_dbus_chat_gconfdefault(trivalent_domain)
gnome_dbus_chat_gkeyringd(trivalent_domain)

userdom_manage_user_tmp_sockets(trivalent_domain)
userdom_manage_user_tmp_files(trivalent_domain)
userdom_map_tmp_files(trivalent_domain)
userdom_manage_tmpfs_files(trivalent_domain)
userdom_read_inherited_user_tmp_files(trivalent_domain)
userdom_manage_home_certs(trivalent_domain)
userdom_use_user_terminals(trivalent_domain)
userdom_list_user_home_dirs(trivalent_domain)

logging_write_journal_files(trivalent_domain)
logging_write_syslog_pid_socket(trivalent_domain)

auth_read_passwd_file(trivalent_domain)

# needed to be able to xdg-open, which is bin_t
corecmd_exec_bin(trivalent_domain)

pcscd_stream_connect(trivalent_domain)
xserver_use_user_fonts(trivalent_domain)
xserver_map_user_fonts(trivalent_domain)

systemd_dbus_chat_hostnamed(trivalent_domain)
systemd_resolved_watch_pid_dirs(trivalent_domain)
init_search_pid_dirs(trivalent_domain)
init_read_state(trivalent_domain)

corenet_tcp_connect_all_unreserved_ports(trivalent_domain)
corenet_tcp_connect_generic_port(trivalent_domain)
corenet_tcp_connect_ftp_port(trivalent_domain)
corenet_tcp_connect_http_port(trivalent_domain)
corenet_tcp_connect_ipp_port(trivalent_domain)
corenet_tcp_bind_generic_node(trivalent_domain)
corenet_udp_bind_generic_node(trivalent_domain)
corenet_udp_bind_all_unreserved_ports(trivalent_domain)
sysnet_read_config(trivalent_domain)
sysnet_dns_name_resolve(trivalent_domain)
networkmanager_dbus_chat(trivalent_domain)

storage_getattr_fixed_disk_dev(trivalent_domain)

optional_policy(`
	bluetooth_dbus_chat(trivalent_domain)
')

allow trivalent_script_domain trivalent_domain:dir { getattr search };
allow trivalent_script_domain trivalent_domain:file { open read };
allow trivalent_script_domain self:dir { add_entry_dir_perms };
allow trivalent_script_domain self:file { create };
allow trivalent_script_domain self:user_namespace create;
allow trivalent_script_domain self:cap_userns { sys_ptrace sys_admin setpcap };
allow trivalent_script_domain self:process { ptrace setcap setsched };
allow trivalent_script_domain user_home_t:dir { search };
allow trivalent_script_domain cache_home_t:dir { mounton };
allow trivalent_script_domain chrome_sandbox_home_t:dir { manage_dir_perms };
allow trivalent_script_domain chrome_sandbox_home_t:file { manage_file_perms };
allow trivalent_script_domain chrome_sandbox_home_t:lnk_file read;
allow trivalent_script_domain trivalent_home_t:dir { manage_dir_perms };
allow trivalent_script_domain trivalent_home_t:file { manage_file_perms map };
allow trivalent_script_domain trivalent_home_t:lnk_file { manage_lnk_file_perms };
allow trivalent_script_domain nsfs_t:file getattr;
allow trivalent_script_domain ld_so_cache_t:file mounton;
allow trivalent_script_domain root_t:dir mounton;
allow trivalent_script_domain tmp_t:dir mounton;
allow trivalent_script_domain tmp_t:sock_file getattr;
allow trivalent_script_domain tmpfs_t:dir { create };
allow trivalent_script_domain device_t:filesystem remount;
allow trivalent_script_domain dosfs_t:filesystem remount;
allow trivalent_script_domain null_device_t:chr_file mounton;

# xwayland/nvidia
xserver_exec(trivalent_script_domain)
dev_rw_xserver_misc(trivalent_script_domain)
dev_map_xserver_misc(trivalent_script_domain)
allow trivalent_script_domain xserver_misc_device_t:chr_file { getattr ioctl map open read write };

domain_dontaudit_search_all_domains_state(trivalent_script_domain)
files_manage_generic_tmp_dirs(trivalent_script_domain)
fs_mounton_tmpfs(trivalent_script_domain)
fs_unmount_tmpfs(trivalent_script_domain)
fs_mount_tmpfs(trivalent_script_domain)
gnome_manage_data(trivalent_script_domain)
gnome_manage_home_config(trivalent_script_domain)
gnome_manage_home_config_dirs(trivalent_script_domain)
gnome_manage_cache_home_dir(trivalent_script_domain)
gnome_manage_generic_cache_files(trivalent_script_domain)
gnome_manage_generic_cache_sockets(trivalent_script_domain)
gnome_map_generic_cache_files(trivalent_script_domain)
corecmd_exec_shell(trivalent_script_domain)
corecmd_exec_bin(trivalent_script_domain)
files_getattr_all_dirs(trivalent_script_domain)
userdom_list_user_home_dirs(trivalent_script_domain)
kernel_list_proc(trivalent_script_domain)
kernel_read_proc_files(trivalent_script_domain)
kernel_getattr_proc_files(trivalent_script_domain)
kernel_getattr_proc(trivalent_script_domain)
seutil_exec_setfiles(trivalent_script_domain)
seutil_manage_file_contexts(trivalent_script_domain)
userdom_use_inherited_user_terminals(trivalent_script_domain)
fs_all_mount_fs_perms_xattr_fs(trivalent_script_domain)

optional_policy(`
	gen_require(`
		type unconfined_t;
		role unconfined_r;
	')

	trivalent_role_template(unconfined, unconfined_r, unconfined_t)
')

optional_policy(`
	gen_require(`
		type sysadm_t;
		role sysadm_r;
	')

	trivalent_role_template(sysadm, sysadm_r, sysadm_t)
')

optional_policy(`
	gen_require(`
		type staff_t;
		role staff_r;
	')

	trivalent_role_template(staff, staff_r, staff_t)
')

optional_policy(`
	gen_require(`
		type user_t;
		role user_r;
	')

	trivalent_role_template(user, user_r, user_t)
')
