policy_module(flatpakfull, 1.0.0)

# Copyright 2025 The Secureblue Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software distributed under the License is
# distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and limitations under the License.

########################################
#
# Declarations
#

attribute_role flatpak_roles;
roleattribute object_r flatpak_roles;



type flatpak_t;
type flatpak_exec_t;
domain_type(flatpak_t, flatpak_exec_t)
application_domain(flatpak_t, flatpak_exec_t)

role flatpak_roles types flatpak_t;

allow flatpak_t self:user_namespace create;
unconfined_domain_noaudit(flatpak_t)

optional_policy(`
	rtkit_scheduled(flatpak_t)
')

optional_policy(`
	gen_require(`
		type unconfined_t;
		type trivalent_t;
		role unconfined_r;
	')

	flatpak_run(unconfined_t, unconfined_r)
	flatpak_run(trivalent_t, unconfined_r)
	
	# required for trivalent/flatpak clipboard sharing
	allow trivalent_t flatpak_t:fifo_file write;

	# required for trivalent/flatpak integration
	allow trivalent_t flatpak_t:process2 { nnp_transition nosuid_transition };
')
