policy_module(flatpakfull, 1.0.0)


########################################
#
# Declarations
#

attribute_role flatpak_roles;
roleattribute object_r flatpak_roles;



type flatpak_t;
type flatpak_exec_t;
domain_type(flatpak_t, flatpak_exec_t)
application_domain(flatpak_t, flatpak_exec_t)

role flatpak_roles types flatpak_t;

allow flatpak_t self:user_namespace create;
unconfined_domain_noaudit(flatpak_t)

optional_policy(`
	rtkit_scheduled(flatpak_t)
')

optional_policy(`
	gen_require(`
		type unconfined_t;
		type trivalent_t;
		role unconfined_r;
	')

	flatpak_run(unconfined_t, unconfined_r)
	flatpak_run(trivalent_t, unconfined_r)
	
	# required for trivalent/flatpak clipboard sharing
	allow trivalent_t flatpak_t:fifo_file write;

	# required for trivalent/flatpak integration
	allow trivalent_t flatpak_t:process2 { nnp_transition nosuid_transition };
')
