policy_module(nautilus, 1.0.0)

# SPDX-FileCopyrightText: Copyright 2025-2026 The Secureblue Authors
#
# SPDX-License-Identifier: Apache-2.0 OR MIT

########################################
#
# Declarations
#

attribute_role nautilus_roles;
roleattribute object_r nautilus_roles;

type nautilus_t;
type nautilus_exec_t;
domain_type(nautilus_t, nautilus_exec_t)
application_domain(nautilus_t, nautilus_exec_t)

role nautilus_roles types nautilus_t;

unconfined_domain_noaudit(nautilus_t)

optional_policy(`
	gen_require(`
		type unconfined_t;
		attribute trivalent_domain;
		role unconfined_r;
	')

	nautilus_run(unconfined_t, unconfined_r)
	nautilus_run(trivalent_domain, unconfined_r)
')
