## <summary>nautilus file manager</summary>

########################################
## <summary>
##	Execute nautilus in the nautilus domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nautilus_domtrans',`
	gen_require(`
		type nautilus_t, nautilus_exec_t;
	')

	domtrans_pattern($1, nautilus_exec_t, nautilus_t)
')


########################################
## <summary>
##	Execute nautilus in the nautilus domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
interface(`nautilus_run',`
	gen_require(`
		type nautilus_t;
        attribute_role nautilus_roles;
	')

	nautilus_domtrans($1)
	roleattribute $2 nautilus_roles;
')
