policy_module(nautilus, 1.0.0)


########################################
#
# Declarations
#

attribute_role nautilus_roles;
roleattribute object_r nautilus_roles;

type nautilus_t;
type nautilus_exec_t;
domain_type(nautilus_t, nautilus_exec_t)
application_domain(nautilus_t, nautilus_exec_t)

role nautilus_roles types nautilus_t;

allow nautilus_t self:user_namespace create;
unconfined_domain_noaudit(nautilus_t)

optional_policy(`
	gen_require(`
		type unconfined_t;
		type trivalent_t;
		role unconfined_r;
	')

	nautilus_run(unconfined_t, unconfined_r)
	nautilus_run(trivalent_t, unconfined_r)
')
