policy_module(stdmalloc, 1.0.0)

# SPDX-FileCopyrightText: Copyright 2026 The Secureblue Authors
#
# SPDX-License-Identifier: Apache-2.0 OR MIT

########################################
#
# Declarations
#

attribute_role stdmalloc_roles;
roleattribute object_r stdmalloc_roles;

type stdmalloc_t;
type stdmalloc_exec_t;
application_domain(stdmalloc_t, stdmalloc_exec_t)

role stdmalloc_roles types stdmalloc_t;

allow stdmalloc_t self:user_namespace create;
unconfined_domain(stdmalloc_t)

gen_require(`
	attribute unconfined_domain_type;
	type unconfined_t;
	role unconfined_r;
')

stdmalloc_run(unconfined_t, unconfined_r)

# with-standard-malloc manually transitions to unconfined_t, so we enforce
# that only unconfined domains can execute it.
neverallow ~unconfined_domain_type stdmalloc_exec_t:file execute;
