[Unit]
Description=secureblue secureboot key enrollment verification timer

[Timer]
RandomizedDelaySec=1m
OnBootSec=2m
Persistent=true

[Install]
WantedBy=timers.target
