[Unit]
Description=secureblue flatpak setup
Wants=network-online.target
After=network-online.target
ConditionPathExists=!~/secureblue-flatpak-setup.stamp

[Service]
Type=oneshot
ExecStart=/usr/libexec/secureblue/secureblueflatpaksetup