// Allow all users to view USBGuard rules

polkit.addRule(function(action, subject) {
    if ((action.id == "org.usbguard.Policy1.listRules" ||
         action.id == "org.usbguard.Devices1.listDevices" ||
         action.id == "org.usbguard1.getParameter" ||
        subject.active == true && subject.local == true) {
            return polkit.Result.YES;
    }
});

// Allow privileged users to change rules by entering their user password
// This does not require a wheel account

polkit.addRule(function(action, subject) {
    if ((action.id == "org.usbguard.Policy1.appendRule" ||
         action.id == "org.usbguard.Policy1.removeRule" ||
         action.id == "org.usbguard.Devices1.applyDevicePolicy" ||
         action.id == "org.usbguard1.setParameter") &&
        subject.active == true && subject.local == true && (
        subject.isInGroup("wheel") || subject.isInGroup("usbguard")) {
            return polkit.Result.AUTH_SELF;
    }
});
