# SPDX-FileCopyrightText: Copyright 2026 The Secureblue Authors
#
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Apply workaround for bug in QEMU user session
Documentation=https://github.com/secureblue/secureblue/issues/1054
Wants=default.target
After=default.target
ConditionUser=!@system
ConditionPathIsDirectory=/var/home/%u
ConditionPathExists=!%h/.config/libvirt/qemu.conf

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p %h/.config/libvirt
ExecStart=/usr/bin/sh -c 'echo "max_core = 0" > %h/.config/libvirt/qemu.conf'

[Install]
WantedBy=default.target
