[Unit]
Description=Flatpak Automatic Update Trigger
Documentation=man:flatpak(1)
After=graphical-session.target
ConditionUser=!@system
After=graphical-session.target

[Timer]
RandomizedDelaySec=10m
OnStartupSec=2m
OnCalendar=*-*-* 4:00:00
Persistent=true

[Install]
WantedBy=timers.target
