[Unit]
Description=Image deprecation notification service
Wants=dbus.service
After=dbus.service
ConditionUser=!@system
After=graphical-session.target

[Service]
Type=oneshot
ExecCondition=/usr/libexec/secureblue/image-deprecation-check
ExecStart=/usr/libexec/secureblue/image-deprecation-notify
