[Unit]
Description=secureblue secureboot key enrollment verification timer
After=graphical-session.target
ConditionUser=!@system

[Timer]
RandomizedDelaySec=1m
OnStartupSec=2m

[Install]
WantedBy=timers.target
