[Unit]
Description=secureblue secureboot key enrollment verification timer

[Timer]
RandomizedDelaySec=1m
OnStartupSec=2m

[Install]
WantedBy=timers.target
