[Unit]
Description=secureblue secure boot update verification
Wants=dbus.service
After=dbus.service
ConditionUser=!@system

[Service]
Type=oneshot
ExecCondition=/usr/libexec/secureblue/securebluecheckoutofdate
ExecStart=/usr/libexec/secureblue/secureblueoutofdatenotify
