[Unit]
Description=Security update notification
Wants=graphical-session.target
After=graphical-session.target
ConditionUser=!@system

[Service]
Type=simple
ExecStart=/usr/libexec/secureblue/security-update-notification
