## <summary>systemsettings policy</summary>

# Copyright 2025 The Secureblue Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software distributed under the License is
# distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and limitations under the License.

########################################
## <summary>
##	Execute systemsettings in the systemsettings domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`systemsettings_domtrans',`
	gen_require(`
		type systemsettings_t, systemsettings_exec_t;
	')

	domtrans_pattern($1, systemsettings_exec_t, systemsettings_t)
')


########################################
## <summary>
##	Execute systemsettings in the systemsettings domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
interface(`systemsettings_run',`
	gen_require(`
		type systemsettings_t;
		attribute_role systemsettings_roles;
	')

	systemsettings_domtrans($1)
	roleattribute $2 systemsettings_roles;
')
