## <summary>systemsettings policy</summary>

# SPDX-FileCopyrightText: Copyright 2025-2026 The Secureblue Authors
#
# SPDX-License-Identifier: Apache-2.0 OR MIT

########################################
## <summary>
##	Execute systemsettings in the systemsettings domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`systemsettings_domtrans',`
	gen_require(`
		type systemsettings_t, systemsettings_exec_t;
	')

	domtrans_pattern($1, systemsettings_exec_t, systemsettings_t)
')


########################################
## <summary>
##	Execute systemsettings in the systemsettings domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
interface(`systemsettings_run',`
	gen_require(`
		type systemsettings_t;
		attribute_role systemsettings_roles;
	')

	systemsettings_domtrans($1)
	roleattribute $2 systemsettings_roles;
')
