policy_module(systemsettings, 1.0.0)

# SPDX-FileCopyrightText: Copyright 2025-2026 The Secureblue Authors
#
# SPDX-License-Identifier: Apache-2.0 OR MIT

########################################
#
# Declarations
#

attribute_role systemsettings_roles;
roleattribute object_r systemsettings_roles;

type systemsettings_t;
type systemsettings_exec_t;
domain_type(systemsettings_t, systemsettings_exec_t)
application_domain(systemsettings_t, systemsettings_exec_t)

role systemsettings_roles types systemsettings_t;

allow systemsettings_t self:user_namespace create;
unconfined_domain_noaudit(systemsettings_t)

optional_policy(`
	gen_require(`
		type unconfined_t;
		attribute trivalent_domain;
		role unconfined_r;
	')

	systemsettings_run(unconfined_t, unconfined_r)
	systemsettings_run(trivalent_domain, unconfined_r)
')

# Required for accountsd to access systemsettings's tmp file.
# Otherwise, changing a user profile photo will fail.
optional_policy(`
	gen_require(`
		type accountsd_t;
	')

	files_read_generic_tmp_files(accountsd_t)
')
