policy_module(systemsettings, 1.0.0)

# Copyright 2025 The Secureblue Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software distributed under the License is
# distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and limitations under the License.

########################################
#
# Declarations
#

attribute_role systemsettings_roles;
roleattribute object_r systemsettings_roles;

type systemsettings_t;
type systemsettings_exec_t;
domain_type(systemsettings_t, systemsettings_exec_t)
application_domain(systemsettings_t, systemsettings_exec_t)

role systemsettings_roles types systemsettings_t;

allow systemsettings_t self:user_namespace create;
unconfined_domain_noaudit(systemsettings_t)

optional_policy(`
	gen_require(`
		type unconfined_t;
		type trivalent_t;
		role unconfined_r;
	')

	systemsettings_run(unconfined_t, unconfined_r)
	systemsettings_run(trivalent_t, unconfined_r)
')
