[Unit]
Description=Disable the KDE splash screen as it is broken without Xwayland. See https://secureblue.dev/faq#kde-splash-disabled
Before=dbus-broker.service
ConditionUser=!@system

[Service]
Type=oneshot
ExecCondition=/bin/bash -c '! cmp -s /etc/skel/.config/ksplashrc ~/.config/ksplashrc'
ExecStart=/usr/libexec/secureblue/disablekdesplash

[Install]
WantedBy=default.target dbus-broker.service
